body {
    text-align: center;
}


body {
    background-image: url("https://www.pngitem.com/pimgs/m/71-712777_aesthetic-tumblr-periodic-periodico-overlay-paper-png-transparent.png");
}




img{
    width: 30% ;
    max-height: 30% ;
    border:
}

p {
    font-family: cursive;
    color:black;
    background-color:rgb(119, 163, 163)

}

p {
    font-family: serif;
    font-size: medium;
    font-style: normal
    font-weight: lighter;
}


*{
    box-sizing: border-box;
}


* {
    box-sizing: border-box;
    padding: 15px;
}